<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GALLERY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="image">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallery</ion-title>
    </ion-toolbar>
  </ion-header>
    <center>
    <br>
    <img src="../../assets/ailyn/ai1.jpeg" >
    <img src="../../assets/ailyn/ai2.jpeg" >
    <img src="../../assets/ailyn/ai3.jpeg" >
    <img src="../../assets/ailyn/ai4.jpeg" >
    <img src="../../assets/ailyn/ai5.jpeg" >
    <br>
    <img src="../../assets/ailyn/ai6.jpeg" >
    <img src="../../assets/ailyn/ai7.jpeg" >
    <img src="../../assets/ailyn/ai8.jpeg" >
    <img src="../../assets/ailyn/ai9.jpeg" >
    <img src="../../assets/ailyn/ai10.jpeg" >
    <br>
    <img src="../../assets/ailyn/ai11.jpeg" >
    <img src="../../assets/ailyn/ai12.jpeg" >
    <img src="../../assets/ailyn/ai13.jpeg" >
    <img src="../../assets/ailyn/ai14.jpeg" >
    <img src="../../assets/ailyn/ai15.jpeg" >
  </center>
</div>
</ion-content>
