<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PROFILE
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="prof">
    <br>
    <center><img src="../../assets/ailyn/ai.jpeg"></center>
    <center><h2><strong>AILYN ABREU</strong></h2>
    <p><strong>Lives in Brgy. Bulod Barugo, Leyte</strong></p> 
    <p><strong>Gender: Female</strong></p>
    <p><strong>Status: Single</strong></p>
    <p><strong>Age: 21</strong></p>
    <p><strong>Date of Birth: December 19, 1999</strong></p>
    <p><strong>Studies Bachelor of Science in Information Technology at Eastern Visayas State University - Carigara Campus</strong></p>
    <br><br>
  </center>
  </div>
</ion-content>
